<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/bootstrap/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href='/css/bootstrap/bootstrapValidator.css' rel='stylesheet' />
		<link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
		<link href="/css/project/base_web.css?1111" media="all" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen and (min-width:767px)">
		<link rel="shortcut icon" href="/images/ico/title.ico" type="image/x-icon">
		<link href="../static/css/loaders.css" rel="stylesheet" type="text/css" />

		<script src="/js/jquery/jquery-2.2.3.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>

		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link href="/css/project/common.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/css/project/timeline.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/css/project/navtab.css" media="all" rel="stylesheet" type="text/css" />
		<style>
			.recorditem{
				margin-right: 10px;
			}
			body{
				background: white;
			}
		</style>
	</head>
	<body>
	
 <div class="row" style="text-align:left;">
    <div class="content-row">

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#timeline" data-toggle="tab">构件过程追踪</a></li>
              <li><a href="#settings" data-toggle="tab">构件过程历史记录</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="timeline">
			  <div class="col-md-1">
			  </div>
			  <div class="col-md-10">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-navy">
                          构件编号[{{pbinfo.sign}}]&nbsp&nbsp类型[{% if pbinfo.pbtype %}{{pbinfo.pbtype}}{% else %}未知{% endif %}]
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
				  {% for status in statuslist %}
						 {% if status.status_record %}
							<li>
							<i class="fa fa-book bg-navy"></i>
							<div class="timeline-item" style="color: #737171;">
							  <span class="time">
								<!-- 修改先注释掉，有需要在放开
									<a class="btn btn-primary btn-xs" onclick="javascript:ShowUpdateModel('{{status.status_record.id}}');">修改记录</a>
								 -->
								<!--<a  onclick="delStatusRecord({{status.status_record.id}})" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i>删除记录</a>-->
								</span>
							  <div class="timeline-header" data-toggle="collapse" href="#collapse_{{status.id}}">
							
									<label style="color:#001f3f;">{{status.statusname}}</label><label style="width: 50%;">累计完成百分比：{{status.sumPercentage}}%</label>
								
							  </div>
							  <div id="collapse_{{status.id}}" class="panel-collapse collapse in">
							   <div class="timeline-body" >
							   	<ul class="list-group" style="margin-bottom: 0px;">
							   	 {% for substatus in status.status_record %}
							   	 	<li class="list-group-item">
									   	<span class="recorditem"><label>人员：</label>{{substatus.actor.truename}}</span>
										<span class="recorditem"><label>时间：</label>{{substatus.time|date:"Y-m-d H:i"}}</span>
										<span class="recorditem"><label>完成百分比：</label>{{substatus.percentage}}%</span>
									   	<span class="recorditem"><label>备注：</label>{{substatus.description}}</span>
								   	</li>
								   	{% if substatus.docList %}
								   		<li class="list-group-item">
										  {% for doc in substatus.docList %}
											<img src="/{{doc.document.filepath}}{{doc.document.name}}" alt="..." width="150">
										  {% endfor %}
										</li>
									  {% endif %}
									  
							   	   {% endfor %}
							   	</ul>
		
							  </div>
							  </div>
							</div>
						  </li>
						  {% else %}
						  <li>
							<i class="fa fa-book bg-red"></i>
							<div class="timeline-item">
							  <div class="timeline-header">
								<label style="color:#001f3f;">{{status.statusname}}</label><label style="color:red;" >状态未录入</label>
							  </div>
							</div>
						  </li>
						  {% endif %}
				 {% endfor %}

                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
              </div>
			  </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
				    <table class="table table-striped">
					  <thead>
						<tr>
						  <th>状态</th>
						  <th>人员</th>
						  <th>时间</th>
						  <th>备注</th>
						  <th>文档</th>
						</tr>
					  </thead>
					  <tbody>
					   {% for status in statuslistall %}
						<tr>
						   <td>{{status.status}}</td>
						   <td>{{status.actor.truename}}</td>
						   <td>{{status.time|date:"Y-m-d H:i:s"}}</td>
						   <td>{{status.description}}</td>
						   <td>
							 {% for doc in status.docList %}
									<img src="/{{doc.document.filepath}}{{doc.document.name}}" alt="..." width="150">
							 {% endfor %}
						   </td>
						</tr>
					   {% endfor %}

					  </tbody>
					</table>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
		  <input type="hidden" id="pbstatusId" value="" />
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->


	</body>
</html>
