{% extends "base.html" %}

{% block content %} 
<script src="/js/materialpro.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  $("#btnAddMaterial").click(function(){
		var xmlhttp;
		if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp=new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		  
		xmlhttp.onreadystatechange=function()
		{
			  if (xmlhttp.readyState==4 && xmlhttp.status==200)
			  {
				 var result = xmlhttp.responseText;   
				 var obj = eval('(' + result + ')');     
				 if(obj)
				 {
					SmAddSignRow(obj);
				 }	
				 else
				 {
					alert("添加材料失败！");
				 }
			   }
			   else
			  {
				
			  }
		}
		xmlhttp.open("POST","/task/specialmaterial/add/",true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		var smnumber = $('#smnumber').val();
		var smtype = $('#smtype').val();
		var smunit = $('#smunit').val();
		var param="smnumber="+smnumber+"&smtype="+smtype+"&smunit="+smunit;
		xmlhttp.send(param);
	});
	
	$("#btnAddMaterialRecord").click(function(){
		
		var signFrame = findObj("SpecialMaterialItem",document);
		
		var json = [];
		for (i=1; i < signFrame.rows.length-1; i++)   
		{
			var signItem = signFrame.rows[i];
			quantity = signItem.cells[1].getElementsByTagName("input")[0].value;
			console.log("%s_%s", signItem.id, quantity);
			
			var item = {};
			item['id'] = signItem.id;
			item['quantity'] = quantity;
			 
			json.push(item);
		}
		
		console.log("%s", JSON.stringify(json));
		
				var xmlhttp;
		if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp=new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		  
		xmlhttp.onreadystatechange=function()
		{
			  if (xmlhttp.readyState==4 && xmlhttp.status==200)
			  {
					var r=confirm('入录周盘点成功！');
					window.location.href="/task/specialmaterial/list/";
			  }
		}
		xmlhttp.open("POST","/task/specialmaterial/addrecord/",true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		var param="record="+JSON.stringify(json);
		xmlhttp.send(param);
	});

});
	
</script>
<div class="row">
<div class="col-lg-12">
<div class="widget-container fluid-height clearfix">
    <div class="heading">
       <i class="fa fa-table"></i>专用材料管理-存量盘点
    </div>
	<div class="col-lg-1" >
	</div>
	<div class="col-lg-10" align="center">
    <table class="table table-bordered" id="SpecialMaterialItem">
      <thead>
        <tr>
          <th>专用材料明细</th>
		  <th>验收数量</th>
		  <th>计量单位</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
	  {% for item in list_items %}
        <tr id="{{item.id}}">
          <td>{{item.number}}</td>
		  <td><input type="text" class="form-control" name="{{item.number}}" id="{{item.number}}" value=""></td>
		  <td>{{item.unit}}</td>
		  <td></td>
        </tr>
	   {% endfor %}
	    <tr>
		 <td colspan="2">
			<a href="#" class="btn btn-success btn" data-toggle="modal" data-target="#update"><i class="fa fa-plus"></i>添加更多</a>
		 </td>	
		 <td colspan="2" align="right">
			<button class="btn btn-primary" id="btnAddMaterialRecord"><i class="fa fa-save"></i>保存周盘点</button>
			<a class="btn btn-default btn" onclick="javascript:history.back(1)" > 返回</a>
		 </td>	
	   </tr>
      </tbody>
    </table>
	</div>
	<div class="col-lg-1" >
	</div>
</div>

	
	<div class="modal fade" id="update" aria-hidden="true">
	<div class="modal-dialog" >
	    <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <a>添加专用材料</a>
            </div>
            <div class="modal-body">
				  <div class="widget-container fluid-height clearfix">
				  <div class="widget-content padded">
					<form id="tab" action="" method="POST"> {% csrf_token %}
								  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
								  <tr>
										<td align="right" width="10%">材料明细：</td>
										<td width="40%">
											<input type="text" class="form-control" name="smnumber" id="smnumber" value="{{smnumber}}">
										</td>
									</tr>
									<tr>	
										 <td align="right" width="10%">材料类型：</td>
										 <td>
											 <select name="smtype" id="smtype" class="form-control">
											{% for smtype in smtypes %}
												<option value="{{smtype}}">{{smtype}}</option>
											{% endfor %}
										</td>
									</tr>
								   <tr>
								    <td align="right" width="10%">计量单位：</td>
									<td >
										 <input type="text" class="form-control" name="smunit" id="smunit" value="{{smunit}}">
									</td>
									</tr>
								  </table>
						</form>	
				</div>
				</div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default btn" role="button"  id="btnCancle" data-dismiss="modal" aria-hidden="true">取消</a>
				<button class="btn btn-primary" id="btnAddMaterial" data-dismiss="modal" aria-hidden="true">确定</button>
            </div>
    </div>
    </div>
    </div>
		
				
</div>
</div>
{% endblock %}
