{% extends "base.html" %}
{% include "baseuser.html" %}

{% block content %} 
          <ul class="breadcrumb">
            <li><a href="/">材料管理</a> <span class="divider">/</span></li>
            <li class="active">文档管理</li>
        </ul>
		
		        <div class="container-fluid">
            <div class="row-fluid">
<div>
	<form id="tab" action="" method="POST"> {% csrf_token %}
		<table border="0" cellpadding="0" cellspacing="0" style="width:80%">
		<TR>
			<TD width="100%">
				<fieldset style="height:100%;">
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
					  <tr>
					  {{ form.name.errors }}
					    <td nowrap align="right" width="10%">名称：</td>
					    <td width="40%"><input type="text" class="input-xlarge" name="name" value="{{name}}"></td>
					    <td align="right" width="10%">类型：</td>
					    <td width="40%">
							 <select name="type" class="form-control">
							{% for choice in TypeChoices %}
								{% ifequal choice Doctype %}
									<option value="{{choice}}" selected>{{choice}}</option>
								{% else %}
									<option value="{{choice}}" >{{choice}}</option>
								{% endifequal %}
							{% endfor %}
							</select>
						</td>
					    </tr>

					  <tr>
					    <td nowrap align="right">提交时间：</td>
					    <td colspan="2">
							{{ form.submittimeend.errors }}
							<a class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd">
								<input type="text" value="{{submittimebegin|date:"Y-m-d"}}" name="submittimebegin">
								<span class="add-on"><i class="icon-remove"></i></span>
								<span class="add-on"><i class="icon-th"></i></span>
							</a>  							
							<a class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd">
							<input  type="text" value="{{submittimeend|date:"Y-m-d"}}" name="submittimeend">
							<span class="add-on"><i class="icon-remove"></i></span>
							<span class="add-on"><i class="icon-th"></i></span>
							</a>
						</td>
						<td align="right">
							<button type="submit" class="btn btn-primary" ><i class="icon-search"></i> 查询 </button>
						</td>
					  </tr>
					  </table>
				</fieldset>		
				</TD>
		</TR>
		</TABLE>
	</form>
</div>                    

<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>索引</th>
		  <th>名称</th>
		  <th>内容</th>
		  <th>类型</th>
		  <th>提交人</th>
		  <th>创建时间</th>
		  <th>编辑</th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
	  {% for item in list_items.object_list %}
        <tr>
          <td>{{item.id}}</td>
		  <td>{{item.name}}</td>
          <td><a href="/{{item.content}}">{{item.content}}</a></td>
          <td>{{item.type}}</td>
          <td>{{item.submitor}}</td>
		  <td>{{item.submittime|date:"Y-m-d H:i:s"}}</td>
          <td>
			  <a href="{% url 'task.views.view_document' item.id %}"><i class="icon-eye-open"></i></a>
              <a href="{% url 'task.views.edit_document' item.id %}"><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
	   {% endfor %}
      </tbody>
    </table>
</div>
<div class="pagination" align="center">
    <ul>
		{% if list_items.has_previous %}
		<li><a href="?page={{ list_items.previous_page_number }}">前一页</a></li>
		{% endif %}
        <li><a>第 {{ list_items.number }} 页，共 {{ list_items.paginator.num_pages }}页</a></li>
		{% if list_items.has_next %}
         <li><a href="?page={{ list_items.next_page_number }}">下一页</a></li>
		{% endif %}
    </ul>
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">删除确认对话框</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>是否要删除该任务？</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-danger" data-dismiss="modal" >删除</button>
    </div>
</div>
            </div>
</div>

{% endblock %}
