{% extends "base.html" %}
{% block content %} 
<!--以下css,js地址都要根据自己文件配置而改变-->
<link href="/css/uploadify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.uploadify.min.js"></script>
<script type="text/javascript">
var uploadify_onSelectError = function(file, errorCode, errorMsg) {  
        var msgText = "上传失败\n";  
        switch (errorCode) {  
            case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:  
                //this.queueData.errorMsg = "每次最多上传 " + this.settings.queueSizeLimit + "个文件";  
                msgText += "每次最多上传 " + this.settings.uploadLimit + "个文件";  
                break;  
            case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:  
                msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";  
                break;  
            case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:  
                msgText += "文件大小为0";  
                break;  
            case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:  
                msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;  
                break;  
            default:  
                msgText += "错误代码：" + errorCode + "\n" + errorMsg;  
        }  
        alert(msgText);  
    };  
   
var uploadify_onUploadError = function(file, errorCode, errorMsg, errorString) {  
        // 手工取消不弹出提示  
        if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED  
                || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {  
            return;  
        }  
        var msgText = "上传失败\n";  
        switch (errorCode) {  
            case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:  
                msgText += "HTTP 错误\n" + errorMsg;  
                break;  
            case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:  
                msgText += "上传文件丢失，请重新上传";  
                break;  
            case SWFUpload.UPLOAD_ERROR.IO_ERROR:  
                msgText += "IO错误";  
                break;  
            case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:  
                msgText += "安全性错误\n" + errorMsg;  
                break;  
            case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:  
                msgText += "每次最多上传 " + this.settings.uploadLimit + "个";  
                break;  
            case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:  
                msgText += errorMsg;  
                break;  
            case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:  
                msgText += "找不到指定文件，请重新操作";  
                break;  
            case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:  
                msgText += "参数错误";  
                break;  
            default:  
                msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"  
                        + errorMsg + "\n" + errorString;  
        }  
        alert(msgText);  
    

};  
   
var uploadify_onSelect = function(){  

};  
   
var uploadify_onUploadSuccess = function(queueData) {  
	var x;
	var r=confirm(queueData.uploadsSuccessful+'个文件上传成功！');
	//window.navigate("/task/concretematerial/list"); 
	window.location.href="/task/reforcematerial/list";
	//window.close(); 
	//alert(queueData.uploadsSuccessful + ' files were successfully uploaded.');
};  

$(function() {
  var file_name='';
  var uploader='/uploadfile_conc/'
  var relateid=$('#relateid').val()
  console.log(uploader);
  $('#file_upload').uploadify({
    'swf'  : '/img/uploadify.swf',//根据文件存放地址改变
	'formData': {'relateid' : relateid, 'doctype' : 2},
    'uploader'    : uploader,
    'cancelImg' : '/images/cancel.png',//根据文件存放地址改变
	'wmode' : 'transparent',  
    'removeTimeout' : 0,  
    'width' : 120,  
    'height' : 30,  
    'folder'    : '/upload',
    'auto'      : false,//
    'multi': true,//设置可以上传多个文件
    'uploadLimit':5,
    'buttonText':'选择钢筋材料附件',  
	'hideButton' : 'true',  
    'removeCompleted':false,//
    'fileSizeLimit' : '20MB',//设置上传文件大小单位kb
    'fileTypeExts':'*.*;',//设置上传文件类型为常用文档格式
    'fileTypeDesc':'选择钢筋材料附件',          
	'overrideEvents' : [ 'onDialogClose', 'onUploadSuccess', 'onUploadError', 'onSelectError' ],  
    'onSelect' : uploadify_onSelect,  
    'onSelectError' : uploadify_onSelectError,  
    'onUploadError' : uploadify_onUploadError,  
	'onQueueComplete' : uploadify_onUploadSuccess,
    'onInit': function () {},
	'onCancel'    : function(file,data) {
      $.post("/delete_uploadfile_doc/", { delete_file: file_name } );
      file_name='';
    }
  });
});
</script>
 

<div class="row">
 <div class="col-lg-12">
 <div class="widget-container fluid-height clearfix">
       <div class="heading">
        <i class="fa fa-plus"></i>添加钢筋材料附件
      </div>
<div class="widget-content padded">
 <table border="0" cellpadding="0" cellspacing="0" style="width:80%">
		<TR>
			<TD width="100%">
				<fieldset style="height:100%;">
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
					  <tr>
					    <td nowrap align="left">
							<input id="file_upload" type="file" name="file_upload"> 
							<input name='relateid' type='hidden' id='relateid' value="{{relateid}}" />
						</td>
					  <tr>
					    <td nowrap >
							<a href="javascript:$('#file_upload').uploadify('upload','*')" class="btn btn-primary start" id="btn_upload"><i class="fa fa-upload">上传文件</i></a>  
							<a class="btn btn-default btn" onclick="javascript:history.back(1)" > 返回</a>
						</td>
					  </tr>
					  </table>
				</fieldset>		
				</TD>
		</TR>
		</TABLE>

</div>
</div>   
</div>   
</div>  

 {% endblock %}
