{% extends "base.html" %}

{% block ownerhead %} 
	 <script src="/js/commonopr.js" type="text/javascript"></script>
{% endblock %}

{% block content %} 

<div class="row">
  <div class="col-lg-12">
    <div class="widget-container label-container fluid-height">
      <div class="heading">
        <i class="fa fa-tags"></i>任务信息-基本信息
      </div>
<fieldset style="width:100%; height:5%;padding:2%;padding-left:0; padding-top:1%;">
		{% if task %}
			<style type="text/css">
				.taskInfo {
					font-size:14px;
					width:150px;
					margin-left:0px;
					text-align:right;
					display:inline-block;
					color:#999999;
					
				}
				.taskVal{
					margin-left:10px;
					width:100px;
					font-size:14px;
					display:inline-block;
				}
				.taskValdate{
					margin-left:10px;
					width:100px;
					font-size:14px;
					display:inline-block;
				}
			
			</style>
			<div class=taskInfo>生产批次：</div><span class="taskVal" style="text-decoration:none;">{{task.id}} </span>
			<div class=taskInfo>任务下达人：</div><span class="taskVal">{{task.creator.truename}}</span>
			<div class=taskInfo  align="right">材料负责人：</div><span class="taskVal">{{task.material.truename}}</span>
			<div class=taskInfo  align="right">计划梁段数量：</div><span class="taskVal" style="font-weight:bold;">{{pbplan}}</span>
			<br></br>
			<div class=taskInfo  align="right">技术负责人：</div><span class="taskVal">{{task.technology.truename}}</span>
			{% if task.actualstart %}
				<div class=taskInfo  nowrap align="right">启动时间：</div><span class="taskValdate">{{task.actualstart|date:"Y-m-d"}}</span>
			{%else%}	
				<div class=taskInfo nowrap align="right">任务创建时间：</div><span class="taskValdate">{{task.planstart|date:"Y-m-d"}}</span>
			{%endif%}	
			{% if task.actualfinish %}
				<div class=taskInfo  nowrap align="right">出厂时间：</div ><span class="taskValdate">{{task.actualfinish|date:"Y-m-d"}}</span>
			{%else%}	
				<div class=taskInfo  nowrap align="right">任务结束时间：</div><span class="taskValdate">{{task.planfinish|date:"Y-m-d"}}</span>
			{%endif%}	
			<div class=taskInfo  align="right" >完成梁段数量：</div><span class="taskVal" style="font-weight:bold;">{{pbfinish}}</span>

		{% endif %}
</fieldset>	
</div>
</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="widget-container label-container fluid-height">
      <div class="heading">
        <i class="fa fa-bars"></i>任务信息-节段梁信息
      </div>
    <table class="table table-striped" >
      <thead>
        <tr>
		  <th>梁段编号</th>
		  <th>梁段位置</th>
		  <th>状态</th>
		  <th>操作</th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
	  {% ifequal listcount 0 %}
	  <tr>
          <td colspan="5" align="center"><h3>没有关联梁段！</h3></td>
	   </tr>
	  {% endifequal %}
	  {% for item in list_items %}
        <tr>
          <td>{{item.number}}</td>
		  <td>{{item.postion}}</td>
		  {% ifequal item.status None %}
          	<td>没有记录</a></td>
          {% else %}
            <td>{{item.status}}</a></td>
          {% endifequal %}
          <td>
			  <a href="/task/precastbeam/trace/{{item.id}}" title="追踪梁段状态" style="cursor: pointer;">[追踪<i class="fa fa-search-plus" ></i>]</a>
			  <a href="/task/precastbeam/tracematerial/{{item.id}}" title="查看梁段材料" style="cursor: pointer;">[材料<i class="fa fa-search-plus" ></i>]</a>
			  <a href="/task/precastbeam/upload/{{item.id}}" title="添加梁段附件" style="cursor: pointer;">[添加<i class="fa fa-paperclip" ></i>]</a>
			  <a href="/task/precastbeam/attach/{{item.id}}" title="查看梁段附件" style="cursor: pointer;">[查看<i class="fa fa-paperclip" ></i>]</a>
          </td>
        </tr>
	   {% endfor %}
      </tbody>
    </table>
</div>
</div>
</div>
<div class="widget-content padded text-center" >
    <ul class="pagination pagination-lg">
		<li><a href="?page=1">首页</a></li>
		{% if list_items.has_previous %}
		<li><a href="?page={{ list_items.previous_page_number }}">前一页</a></li>
		{% endif %}
        <li><a>第 {{ list_items.number }} 页，共 {{ list_items.paginator.num_pages }}页</a></li>
		{% if list_items.has_next %}
         <li><a href="?page={{ list_items.next_page_number }}">下一页</a></li>
		{% endif %}
		<li><a href="?page={{list_items.paginator.num_pages}}">尾页</a></li>
    </ul>
	
</div>


{% endblock %}
