    td{text-align:center;vertical-align:middle;}
    .modal-shiftfix{
      width:100%;
    }
    .container-fluid.main-content{
      height:100%;width:100%;    overflow-x: hidden;
    }
    .content-row{
          min-height: 700px;width:100%;padding-top: 8px;
     }
    .left{
      height:100%;
    }
    .right{
      height:100%;
    }
    .jFiler-input{
      width:100%;
    }
    #jstree_demo_div{text-align: left;}
    .row{width:100%; height:100%;margin:2px 0.1% 0 0.1%; padding: 0 0px 0 0px; border-radius:5px; display:inline-block; background: white;text-align:left;min-height:calc(100vh - 95px);}
    .header-row{width:100%; margin:10px 0 5px 15px; padding-left: 5px;text-align:left;font-size: 18px;font-weight:bold;color: #2e6da4;}
    .header-row h3{font-weight:bold; margin-bottom:10px; text-align:center; width:100%; }
    .form-group-sm select.form-control{
      height: 30px;
      line-height: 20px;
    }
    .dataTables_info{
      text-align: left;
    }
    
    .paginate_input{max-width: 50px;text-align: center;}
	.paginate_page, .paginate_of{display: none;}
	
	.createbtn{
		color: #fff  !important; 
    	background-color: #337ab7  !important; 
	}
	.input-group{width:80%; margin:0px auto;}
	
	.zhoutimeselect{
        position: absolute;
        z-index: 100;
        background-color: #ffffff;
        opacity: 1;
        margin-top: 34px;
        border-radius: 5px;
        border: 1px solid #cccccc;
    }
    .zhoutimeselect:before{

    }
     
     input.labelauty + label{
            padding: 2px;
    }
    input.labelauty + label > span.labelauty-unchecked-image{
        display: none;
    }
    input.labelauty + label > span.labelauty-checked-image{
        display: none;
    }

    input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked, input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked{
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0px;
    }

    .time-week{list-style-type: none;padding: 10px;padding-bottom: 0px;margin-bottom: 0px;}
    .time-day{list-style-type: none;padding: 10px;padding-bottom: 0px;margin-bottom: 0px;}
    .time-week li {display: inline-block;    margin-top: 10px;}
    .time-day li {display: inline-block;    margin-top: 10px;}
    
        .active{
        display: block;
    }
    .unactive{
        display: none;
    }
    
	.help-block{
		    margin-left: 10%;
	}
