
.titleLabel{width:100%; font-size:1.5em; margin-bottom:0px;color: white;
		background-color: #337ab7;text-align:center;}

.saomaBtn{position:absolute; margin-top:30%; left:20%; height:70px; 
			width:60%;font-size:2em; border-radius:25px;}