body{width:100%; overflow:hidden;}

.login-wrapper {position: absolute; width:350px;display:inline-block; right: 10%; height:300px;}
.login-wrapper.active {opacity: 1;}
.login-wrapper {
	opacity: 0;
    -webkit-transition: all 1s 0.5s;
    -moz-transition: all 1s 0.5s;
    transition: all 1s 0.5s; }

#title {color: white; font-weight:bold; font-size:2em; padding-bottom:20px;}
.login-container p {font-size:15px;font-weight:bold; color: #333333; }

.form-group input {font-size:1.5em; line-height:1em; }

.login {width:80%; margin-left:10%;}
.login-container { width:50%; border-radius: 7px; box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); 
			min-width:300px; padding:20px 0 20px 0;background-color: rgba(218, 203, 160, 0.5);
            /*border: 1px solid rgb(197, 191, 191);*/
			text-align:center; max-width:350px; font-size:1em;}
    
.checkbox, .pull-right{font-weight:normal; font-size: 14px; color: black; padding-left:20px;}

.btn{background:rgba(146, 124, 42, 0.78);width: 100%;border-radius:7px;font-size:1.8em; margin-top:10px;color: white;}
.btn:active{
	#background-color:dodgerblue;
	border-bottom:0px cornflowerblue;
	margin-top: 5x;
	border-radius:7px;
    -webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.errorlist{color:red; margin-top:5px; text-align:left;font-size:14px;}
.failed{color: red; font-size:14px;}
.gongsi{
    width: 100%;
    text-align: center;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: rgba(65, 115, 162, 0.26);
    height: 5vh;
    line-height: 5vh;
    bottom: 0px;
}
.logintt{
	position: absolute;
	top: 0px;
}
/*.xuanz{position: absolute;margin: 15vh;}

#change1{-webkit-animation:change 0.5s linear infinite;}

@-webkit-keyframes change

{

　　0%{-webkit-transform:rotate(0deg);}

　　50%{-webkit-transform:rotate(180deg);}

　　100%{-webkit-transform:rotate(360deg);}

}*/
/*.swiper-wrapper{
	transition-timing-function:linear;
}*/
