.titleLabel{width:100%; font-size:1.5em; margin-bottom:0px;color: white;
		background-color: #007aff;text-align:center;}

.msg_list{width:100%; background:white; margin-top:10px;}
.msg_list th,.msg_list td{text-align:center;}

