/*----------------------------------------------------------------------------------- */
/*  Bootstrap Accordion */
/*----------------------------------------------------------------------------------- */
.panel {
  box-shadow: none; }

.panel-heading {
  padding: 0;
  border-radius: 0;
  background-color: #f8f8f8; }
  .panel-heading .panel-toggle {
    background: #f9fafa; }

.panel-title {
  font-size: 16px; }
  .panel-title > a {
    font-weight: 300;
    padding: 8px 15px 10px;
    display: block; }
    .panel-title > a .caret {
      margin-top: 5px;
      border-bottom: 5px solid #999999;
      border-top: 5px solid transparent;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent; }
    .panel-title > a.collapsed .caret {
      border-top: 5px solid #999999;
      border-bottom: 5px solid transparent;
      margin-top: 10px; }
  .panel-title:hover {
    color: #007aff; }

.accordion-group {
  margin: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #f1f1f1; }

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0px;
  border: 0;
  border-top: 1px solid #e1e1e1; }
  .panel-group .panel + .panel {
    margin-top: 0; }