<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <title>模型查看</title>
     <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
     <link rel="stylesheet" href="../../../static/js/weui-master/style/weui.css"/>  
<link rel="stylesheet" href="../../../static/js/weui-master/style/weui2.css"/>  
<link rel="stylesheet" href="../../../static/js/weui-master/style/weui3.css"/>  
	  <script src="/js/weui-master/zepto.min.js"></script>

 	<link href="/js/web3d/style.min.css?v=v3.1.1" rel="stylesheet" />
 	<script src="/js/web3d/three.min.js"></script>
    <script src="/js/web3d/viewer3D.min.js?v=v3.1.1"></script>

    <script src="/js/web3d/scripts/LoadModel_Mobile.js"></script>
    <script src="js/web3d/scripts/modelcommon.js?ver=1115"></script>
    <script src="js/web3d/Extension/Autodesk.ADN.Viewing.Extension.CustomFirstPersonTool/Autodesk.ADN.Viewing.Extension.CustomFirstPersonTool.js"></script>
</head>
<style>
body{
	color: white;
	margin: 0px;
}

.operatorbar{
	z-index: 100;
    top: 1px;
    left: 10px;
    color: #205171;
    font-family: 微软雅黑;
    position: absolute;
}

.pbPropetry{
    z-index: 100;
    top: 45px;
    left: 10px;
    color: rgb(0, 30, 76);
    background: rgba(255,255,255,0.8);
    font-family: 微软雅黑;
    position: absolute;
    display: none;
}
.adsk-toolbar{
	display: none !important;
}

.dockingPanel{
	height: 450px !important;
	top: 30px;
	left: 20px !important;
}

.icon{
	font-size: 30px;	
}



</style>
<script>
	$(document).ready(function() {
		yaogan();
		loadInitialModel();
	});
	
	$("#goback").click(function(){
		   window.history.go(-1);
	});
	
</script>
<body>
	<div class="operatorbar">
		<a href="/index/"  class="icon icon-93" style="color:#205171;margin-right: 20px;"></a>
	   <span class="icon icon-86" style="" id="qrCode"></span>
	</div>
	  
    </div>
	<div class="pbPropetry" >
		<table class="table">
			<tr><td>编号:</td><td><span id="pbnumber"></span ></td></tr>
			<tr><td>类型:</td><td><span id="pbtype" ></span ></td></tr>
			<tr><td>状态:</td><td><span id="pbstatus" ></span ></td></tr>
			<tr><td>空间:</td><td><span id="pbelevation" ></span ></td></tr>
		</table>
	</div>
    <div id="project">
        <div class="col-lg-12" id="viewer" ></div>
    </div>
    <canvas id="joystick" width="150" height="150" style="position: absolute;left: 5px;bottom: 5px;z-index: 200;"></canvas>

<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script>
	wx.config({
	    debug: false, 
	    appId: '{{config.appid}}', 
	    timestamp: {{config.timestamp}}, 
	    nonceStr: '{{config.nonceStr}}', 
	    signature: '{{config.signature}}',
	    jsApiList: [
	        'checkJsApi',
	        'chooseImage',
	        'previewImage',
	        'uploadImage',
	        'downloadImage',
	        'openLocation',
	        'getLocation',
	        'scanQRCode',
	        'translateVoice',
	        'startRecord',
	        'stopRecord',
	        'onRecordEnd',
	        'playVoice',
	        'pauseVoice',
	        'stopVoice',
	        'uploadVoice',
	        'downloadVoice',
	      ]
	});
	

	
	wx.ready(function(){		

		document.querySelector('#qrCode').onclick = function () {
		    wx.scanQRCode({
		      needResult: 1,
		      desc: 'scanQRCode desc',
		      success: function (res) {
		        var qrCode=res["resultStr"];
		        $.ajax({
				  type:"get",
				  url: "/task/modelview/getpbproperty",
				  cache:false,
				  dataType:"json",
				  data:{"qrCode": qrCode},
				  success: function(data){
				  	if(data.issuc == "true") {
						setpbproperty(data);
						var dbids = [];
						dbids.push(parseInt(data.dbid));
						
						_viewer.fitToView(dbids);
						_viewer.impl.sceneUpdated(true);
					} 
				  	else{
				  		alert("无效构件编码！");
				  	}
				  },
				  error:function(data){
				  	alert("服务器错误");
			      	return false;
			      },
				});
						
		      }
		    });
		};
		
	});	
	
</script>	

</body>
</html>


