
{% extends "base_mobile.html" %}

{% block content %} 
<link href="/css/project/factory.css" media="all" rel="stylesheet" type="text/css" />
<link type="text/css" href="/css/project/morris.css" media="all" rel="stylesheet" />
<script src="/js/morris.js-0.5.1/raphael-min.js"></script>
<script src="/js/morris.js-0.5.1/morris.min.js" type="text/javascript"></script>
<script src="/js/common/factory.js"></script>
<link href="/css/swipercss/swiper.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/swiperjs/swiper.min.js" type="text/javascript"></script>
<div class="swiper-container swiper-container-topnav">
	<div class="swiper-wrapper topnav">
		<button class="swiper-slide btn btn-primary" disabled="disabled"> <i class="fa fa-bars" > </i> 场地管理： </button>
		{% for each in list_items_area %}
			{% if forloop.counter = 1 %}
	        	<button type="button" class="swiper-slide open btn btn-primary active" tapmode="on" onclick="loadTab(this,{{forloop.counter}}-1)">  
	        {% else %}
	        	<button type="button" class="swiper-slide btn btn-primary" tapmode="on" onclick="loadTab(this,{{forloop.counter}}-1)">  
			{% endif %}
	        {{each.description}}
			</button>
		{% endfor %}
	</div>
</div>

<div class="swiper-container-content">
	<div class="swiper-wrapper">
		{% for each in list_items_area %}
			{% if forloop.counter = 1 %}
				<div class="swiper-slide tab-pane fade in active">
			{% else %}
				<div class="swiper-slide tab-pane fade in ">
			{% endif %}
					<div class="positionList col-sm-12 col-xs-12">
						<div class="col-sm-12 col-xs-12 areaDonut" id='{{each.id}}_donut'>
						</div>
						{% for eachPosition in each.positions %}
						<div class="areaPosition col-sm-6 col-xs-6" title="获取构件列表?" id="{{eachPosition.id}}" onclick="javascript: fetchPB({{eachPosition.id}});">
							{% if eachPosition.count > 10 %}
								<div class="positionCount btn full">{{eachPosition.count}}
							{% elif eachPosition.count > 0 %}
								<div class="positionCount btn normal">{{eachPosition.count}}
							{% else %}
								<div class="positionCount btn unuse">{{eachPosition.count}}
							{% endif %}
							</div>
							<div class="positionNum">{{eachPosition.number}}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
		{% endfor %}
	</div>
</div>
<script type="text/javascript">
	var mySwiper = new Swiper ('.swiper-container-content', {
//	    direction: 'vertical',
//	    loop: true,
	    initialSlide: 0,
//	    // 如果需要分页器
//	    pagination: '.swiper-pagination',
//	    
//	    // 如果需要前进后退按钮
//	    nextButton: '.swiper-button-next',
//	    prevButton: '.swiper-button-prev',
//	    
//	    // 如果需要滚动条
//	    scrollbar: '.swiper-scrollbar',
		onSlideChangeEnd: function(swiper){
				$(".topnav .active").removeClass("active");
				if(swiper.activeIndex*120+ window.screen.width >= $(".topnav").width() ){
					var mL= window.screen.width-$(".topnav").width();
				}
				else{
					var mL= -swiper.activeIndex*120 ;
				}
				
		        $($(".topnav button")[swiper.activeIndex+1]).addClass("active");
		        topSwiper.slideTo(swiper.activeIndex, 1000, false);
//		        $( ".topnav" ).stop().animate({
//		    		marginLeft : mL, 
//				  }, 300);
		    }
	  })
	
	
	var topSwiper = new Swiper ('.swiper-container-topnav', {
		initialSlide: 0,
	    slidesPerView: 'auto',
	    spaceBetween: 0,
	    speed:500,
	    grabCursor: true,
	    freeMode: true,
	}); 

{% for each in list_items_area %}
	Morris.Donut({
	    element: '{{each.id}}_donut',
	    data: [
	        {label: '{{each.description}}已启用', value: {{each.used_rate}}},
	        {label: '{{each.description}}未启用', value: 100-{{each.used_rate}}},
	    ],
	    colors: ["cadetblue","gainsboro"],
	    formatter: function (y) { return y + "%" },
	    resize: true
	});
{% endfor %}
function loadTab(obj,id){
	$(".topnav .active").removeClass("active");
	$(obj).addClass("active");
	mySwiper.slideTo(id, 1000, false);
	
	if(id*120+ window.screen.width >= $(".topnav").width() ){
		var mL= window.screen.width-$(".topnav").width();
	}
	else{
		var mL= -id*120 ;
	}
	$( ".topnav" ).stop().animate({
		marginLeft : mL, 
  }, 300);
}

</script>

<div class="modal fade" id="pbList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
        		<table class="table" id="pbTable">
						</table>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
         </div>
      </div><!-- /.modal-content -->
</div>

{% endblock %}
