{% extends "base_mobile.html" %}

{% block ownerhead %} 
<script src="/js/commonopr.js" type="text/javascript"></script>
<script src="/js/common/jishu.js" type="text/javascript"></script>
<script src="/js/touchswap/jquery.touchSwipe.min.js" type="text/javascript"></script>

<link href="/css/project/jishu_mobile.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %} 
	 <label class="titleLabel"><i class="fa fa-road" ></i> 质量管理</label>	
	<div class="row content-row" align="center">
		<div class="widget-container fluid-height clearfix">
		    <table class="table table-striped" >
		      <thead>
		        <tr>
		          <th>名称</th>
				  <th>状态</th>
				  <th>进度</th>
				  <th>信息</th>
		        </tr>
		      </thead>
		      <tbody>
				<tr>
		          <th>装修地板</th>
				  <th>完成</th>
				  <th>100%</th>
				  <th>虎门二桥项目</th>
		        </tr>
		        <tr>
		          <th>装修地板</th>
				  <th>完成</th>
				  <th>100%</th>
				  <th>虎门二桥项目</th>
		        </tr>
		        <tr>
		          <th>装修地板</th>
				  <th>完成</th>
				  <th>100%</th>
				  <th>虎门二桥项目</th>
		        </tr>
		      </tbody>
		    </table>
		</div>
	</div>



{% endblock %}

