<html>

<head>

    <meta charset="utf-8">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 shim for IE8 support of HTML5 elements -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <![endif]-->
    <link href="/admin/css/admin-theme.css" rel="stylesheet">
    <link href="/admin/css/xadmin-default.css" rel="stylesheet">
    <link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
    @CHARSET "UTF-8";

    .input-order{width:30px;}
    .wrap {
    padding: 20px 20px 70px;
    }
    .table td {font-size:12px;}
    form .input-order {
        margin-bottom: 0px;
        padding: 3px;
        width: 40px;
    }

    .table-actions {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px;
    }

    .table-list {
        margin-bottom: 0px;
    }
    </style>
    <!--[if IE 7]> <link rel="stylesheet" href="/public/simpleboot/font-awesome/4.4.0/css/font-awesome-ie7.min.css"> <![endif]-->

    <script src="/js/jquery/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script>
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });
    </script>
    <style>
    .home_info li em {
        float: left;
        width: 120px;
        font-style: normal;
    }

    li {
        list-style: none;
    }
    </style>
</head>

<body>
    <div class="wrap">
        <div id="home_toptip"></div>
        <h4 class="well">系统通知</h4>
        <div class="home_info">
            <ul id="thinkcmf_notices">
                <li></li>
            </ul>
        </div>
        <h4 class="well">系统信息</h4>
        <div class="home_info">
            <ul>
                <li><em>操作系统</em> <span>Windows</span></li>
                <li><em>运行环境</em> <span>nginx/1.10.1</span></li>
                <li><em>PHP版本</em> <span>7.0.1</span></li>
                <li><em>PHP运行方式</em> <span>fpm-fcgi</span></li>
                <li><em>MYSQL版本</em> <span>5.7.13</span></li>
                <li><em>程序版本</em> <span>X2.2 Beta4&nbsp;&nbsp;&nbsp; [<a href="#" target="_blank">上海筑众科技有限公司</a>]</span></li>
                <li><em>上传附件限制</em> <span>2M</span></li>
                <li><em>执行时间限制</em> <span>30s</span></li>
                <li><em>剩余空间</em> <span>11275.46M</span></li>
            </ul>
        </div>
        <h4 class="well">发起团队</h4>
        <div class="home_info" id="home_devteam">
            <ul>
                <li><em>上海筑众</em> <a href="#" target="_blank">上海筑众科技有限公司</a></li>
                <li><em>核心开发者</em> <span>上海筑众科技有限公司</span></li>
                <li><em>团队成员</em> <span>上海筑众科技有限公司</span></li>
                <li><em>联系邮箱</em> <span>上海筑众科技有限公司</span></li>
            </ul>
        </div>
        <!--<h4 class="well">贡献者</h4>
        <div class="">
            <ul class="inline" style="margin-left: 25px;">
                <li>Kin Ho</li>
                <li><a href="http://wzx.thinkcmf.com" target="_blank">Powerless</a></li>
                <li>Jess</li>
                <li>木兰情</li>
                <li><a href="http://www.91freeweb.com/" target="_blank">Labulaka</a></li>
                <li><a href="http://www.syousoft.com/" target="_blank">WelKinVan</a></li>
                <li><a href="http://blog.sina.com.cn/u/1918098881" target="_blank">Jeson</a></li>
                <li>Yim</li>
                <li><a href="http://www.jamlee.cn/" target="_blank">Jamlee</a></li>
                <li><a>香香咸蛋黄</a></li>
                <li><a>小夏</a></li>
                <li><a href="http://www.xdmeng.com" target="_blank">小凯</a></li>
                <li><a href="https://www.devmsg.com" target="_blank">Co</a></li>
                <li><a href="http://www.rainfer.cn" target="_blank">Rainfer</a></li>
            </ul>
        </div>-->
    </div>
    <script src="/admin/js/xadmin-common.js"></script>
    <script>
    //获取官方通知
    // $.getJSON("http://www.thinkcmf.com/service/sms_jsonp.php?lang=zh-cn&v=X2.2 Beta4&callback=?",
    //     function(data) {
    //         var tpl = '<li><em class="title"></em><span class="content"></span></li>';
    //         var $thinkcmf_notices = $("#thinkcmf_notices");
    //         $thinkcmf_notices.empty();
    //         if (data.length > 0) {
    //             $.each(data, function(i, n) {
    //                 var $tpl = $(tpl);
    //                 $(".title", $tpl).html(n.title);
    //                 $(".content", $tpl).html(n.content);
    //                 $thinkcmf_notices.append($tpl);
    //             });
    //         } else {
    //             $thinkcmf_notices.append("<li>^_^,没有通知啦~~</li>");
    //         }

    //     });
    </script>
</body>

</html>
